@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    font-family: 'Roboto Thin', sans-serif;
}

body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.success {
    font-size: 20px;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.error {
    font-size: 20px;
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.info {
    font-size: 20px;
    background-color: orange;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}