@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #f8fafb;
}


img {
    margin: 0 auto;
    display: block;
  }

.success {
    font-size: 20px;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.error {
    font-size: 20px;
    background-color: darkred;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.info {
    font-size: 20px;
    background-color: darkorange;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}


/* Base */
  

  

  
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
a:hover {
      text-decoration: none;
      cursor: pointer;
      
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
}

.site-navbar .site-logo a {
    color: #000; 
}
  


.site-navbar .site-navigation.border-bottom {
      border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu .active > a {
        color: #3ca59d;
}
.site-navbar .site-navigation .site-menu a {
        text-decoration: none !important;
        font-size: 15px;
        display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
        display: inline-block;
        padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu > li > a {
          padding: 10px 10px;
          color: #000;
          font-size: 15px;
          text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
            color: #3ca59d;
}
     
     

/*.lgn{
    background-color: chocolate !important;
    color: white !important;
    font-weight: 400 !important;
}
*/

.errorlist{
    list-style: none;
    margin: O;
    padding: O;
    color: #680000;
}

.errors input{
    border-color: #680000;
    background-color: #680000;
    color: white;
}

.errors label{
    color: #680000;
}


.card{
    background-color: inherit !important;
}

.page-header-search {
  background-color: #e3b005;
  padding: 20px 0;
}

.page-header-search {
  margin: 0;
  border-bottom: none;
}

/*Search area*/
.search {
    display: flex;
    max-width: 530px;
    min-width: 300px;
    margin: 0 auto 30px;
    box-sizing: border-box;
  }
  .search__input {
    flex: 1;
    height: 36px;
      padding: 10px;
      background-color: rgba(237,237,237,.7);
      border: none;
    border-radius: 2px 0 0 2px;
  }
  .search__btn {
    text-align: center;
    background-color: #fff;
    line-height: 36px;
    border-radius: 0 2px 2px 0;
  }
  .icon-search {
    vertical-align: middle;
  }
  
  ::-webkit-input-placeholder {
    color: rgba(84,127,28,.6);
    font-size: 14px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(84,127,28,.6);
    font-size: 14px;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(84,127,28,.6);
    font-size: 14px;
  }
  :-ms-input-placeholder {  
    color:rgba(84,127,28,.6);
    font-size: 14px;
  }
  

/*Change main logo area*/
.main-logo {
  float: left;
  width: 40%;
  align-content: left;
}

/*Style logo color*/
.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: #C18D06;
  padding: 10px;
  border: solid 2px rgba(255, 255, 255, 0.2);
  font-family: 'Lato', sans-serif;
}

/*Change the color of the logo when hover */
.logo:hover, .logo:focus {
  text-decoration: none;
  color: white;
}
.logo span:hover,  .logo span:focus {
  text-decoration: none;
  color: #C18D06;
}
.logo span{
  color: white;
}


.book-card{
    width: 170px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    padding: 5px;
    padding-bottom: 15px;
    vertical-align: top;
    
    border: 1px solid #b7b7b7;
  }
  
  .book-card__image{
    width: 100%;
    height: 170px;
  }
  
  .book-card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .book-title{
    margin: 0;
    padding: 15px;
  }
  
  .book-copy{
    margin: 0;
    padding: 0 15px;
    font-size: 11px;
    color: #b7b7b7;
  }
  
  .book-link{
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #b7b7b7;
    padding: 3px 12px;
    color: #b7b7b7;
    border-radius:5px;
  }

.container{
    margin: 1%;
}

.form{
    width: 100% !important;
    height: 100%;
}