@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #f8fafb;
}


img {
    margin: 0 auto;
    display: block;
  }

.success {
    font-size: 20px;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.error {
    font-size: 20px;
    background-color: darkred;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.info {
    font-size: 20px;
    background-color: darkorange;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}


/* Base */
  

  

  
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
a:hover {
      text-decoration: none;
      cursor: pointer;
      
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
}

.site-navbar .site-logo a {
    color: #000; 
}
  


.site-navbar .site-navigation.border-bottom {
      border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu .active > a {
        color: #3ca59d;
}
.site-navbar .site-navigation .site-menu a {
        text-decoration: none !important;
        font-size: 15px;
        display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
        display: inline-block;
        padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu > li > a {
          padding: 10px 10px;
          color: #000;
          font-size: 15px;
          text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
            color: #3ca59d;
}
     
     

/*.lgn{
    background-color: chocolate !important;
    color: white !important;
    font-weight: 400 !important;
}
*/

.errorlist{
    list-style: none;
    margin: O;
    padding: O;
    color: #680000;
}

.errors input{
    border-color: #680000;
    background-color: #680000;
    color: white;
}

.errors label{
    color: #680000;
}


.card{
    background-color: inherit !important;
}