{% extends 'base.html' %}
{% load static %}
{% block page_title %}Accueil{% endblock %}

{% block content %}
    <div class="container pt-5 hero">
        <div class="row align-items-center text-center text-md-left">

            <div class="col-lg-4">
                <h1 class="mb-3 display-3">ESGI Libraries</h1>
                <p style="color: #b3b3b3;font-weight: 300; }">Bienvenue sur la plateforme ESGI Libraries qui vous permet
                    de trouver des bibliothèques et des livres </p>
            </div>

            <div class="col-lg-7 offset-md-1">
                <img src="{% static 'images/home.png' %}" alt="Image" class="img-fluid">
            </div>

            <div class="row ">
                <div class="col-12 mb-4">
                    <div class="d-flex">

                    </div>
                    <br/><br/>
                    <hr>
                </div>
            </div>


            <div clas="header-search" class="page-header">
                <div class="page-header-search row">
                    <!-- Logo -->
                    <div class="col-md-4">
                        <a href="#" class="logo">ESGI <span>Library </span></a>
                    </div>


                    <form action="/search/" method="GET">
                        <div class="input-group">

                            <input type="text" name="search-query" class="form-control" placeholder="Search Book">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>


            </div>
        </div>

        <!-- Main content -->
        <div class="container" id="title">

            {% for livre in livres_list %}
                {% if not forloop.counter|divisibleby:2 %}
                    <div class="row mx-auto" style="justify-content: center">
                {% endif %}
            <div class="book-card col">
                <div class="book-card__image">
                    <img src="{{ livre.image.url }}" alt="">
                </div>
                <br/>
                <div>Title : <span class="book-copy"> {{ livre.nom }}</span></div>
                <div>Auteur : <span class="book-copy"> {{ livre.auteur }}</span></div>
                <div>Category : <span class="book-copy"> {{ livre.genre }}</span></div>
                <a href="{% url 'detail_livre' livre.id %}" class="book-link">view</a>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
            {% endfor %}

        </div>

        {% if user %}
            {% if user.role == "libraire" %}
                <div class="mt-5">
                    <a href="{% url 'all_libraries' %}" class="btn btn-primary">Voir les bibliothèques</a>
                    <a href="{% url 'all_emprunts' %}" class="btn btn-primary">Voir les emprunts</a>
                </div>
            {% elif user.role == "client" %}
                <h2 class="mt-5">Mes emprunts</h2>
                <div class="table-responsive">
                    <table class="table table-hover mx-auto mt-5">
                        <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Date emprunt</th>
                            <th>Date limite</th>
                            <th>Livre</th>
                            <th>Opération</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for emprunt in emprunts_list %}
                            <tr>
                                <td>
                                    {% if emprunt.date_limite|date:"d/m/Y" >= now|date:"d/m/Y" %}
                                        Pas de retard
                                    {% else %}
                                        En retard
                                    {% endif %}
                                </td>
                                <td>{{ emprunt.date_emprunt|date:"d/m/Y h:m:s" }}</td>
                                <td>{{ emprunt.date_limite|date:"d/m/Y h:m:s" }}</td>
                                <td><a href="{% url 'detail_livre' emprunt.livre.id %}">{{ emprunt.livre.nom }}</a>
                                <td><a href="{% url 'detail_livre' emprunt.livre.id %}"
                                       class="btn btn-warning">Rendre</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h2 class="mt-5">Prochaines séances de lecture</h2>
                <div class="table-responsive mb-5">
                    <table class="table table-hover mx-auto mt-5">
                        <thead>
                        <tr>
                            <th>Livre</th>
                            <th>Date de début</th>
                            <th>Opération</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for groupe in groupes_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'detail_livre' groupe.livre.id %}">{{ groupe.livre.nom }}</a>
                                </td>
                                <td>
                                    {{ groupe.date|date:"d/m/Y" }}
                                </td>
                                <td>
                                    <a href="{% url 'detail_groupe' groupe.id %}" class="btn btn-primary">Voir</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endif %}
    </div>
    </div>

{% endblock content %}

